.app {
  height: 100vh;
  background-color: #800000;
}

.app-title {
  margin: 15px;
}

.kinnekt-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.exercise {
  background-color: white;
  height: 500px;
  width: 500px;
}

.button {
  color: black;
  width: 50px;
  height: 20px;
}
